body{background:white;}

#main    {
     background-color: #FFFFFF;
     margin: auto;
     border: 1px solid black; /* width, style, colour */
     padding-left: 15px;
     padding-right: 5px;
     padding-bottom: 20px;
     } 

h1{text-align: center;
}

.dates {
  float:right;
  min-width:171px;
  max-width:300px;
  padding-right: 15px;
}